pytest
pytest-qt
pytest-cov
pytest-timeout
pooch
tqdm
sklearn  # for testing ICA
pytest-harvest
pytest-error-for-skips
https://github.com/sphinx-gallery/sphinx-gallery/zipball/master  # for testing scrapers
