# Basic dependencies for browser
numpy
scipy
matplotlib
git+https://github.com/mne-tools/mne-python@main
qtpy
PyQt5  # Default, but PySide2 will be also tested
git+https://github.com/pyqtgraph/pyqtgraph@master
pyopengl

# Testing
pytest
pytest-qt